<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">发布商品</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" id="goodForm" action="/admin/good/upload" method="POST" enctype="multipart/form-data">
    <div class="box-body">
      <div class="form-group">
        <label for="goodname">商品名</label>
        <input type="text" class="form-control" id="goodname" value="<%- item && item.goodname %>"  placeholder="商品名" name="goodname">
      </div>
      <div class="form-group">
        <label for="price">售价</label>
        <input type="number" class="form-control" id="price" value="<%- item && item.price %>"  placeholder="售价" name="price">
      </div>
      <div class="form-group">
        <label for="specify">规格</label>
        <input type="text" class="form-control" id="specify" placeholder="如：500g/袋" value="<%- item && item.specify %>" name="specify">
      </div>
      <div class="form-group">
        <label for="cat">分类</label>
        <select class="form-control" id="cat" name="cat" value="">
          <option <%- item && item.cat == '进口水果' ? 'selected' :'' %>>进口水果</option>
          <option <%- item && item.cat == '国产水果' ? 'selected' :'' %>>国产水果</option>
          <option <%- item && item.cat == '精选肉类' ? 'selected' :'' %>>精选肉类</option>
          <option <%- item && item.cat == '禽类蛋品' ? 'selected' :'' %>>禽类蛋品</option>
          <option <%- item && item.cat == '海鲜水产' ? 'selected' :'' %>>海鲜水产</option>
          <option <%- item && item.cat == '即烹美食' ? 'selected' :'' %>>即烹美食</option>
          <option <%- item && item.cat == '乳品糕点' ? 'selected' :'' %>>乳品糕点</option>
          <option <%- item && item.cat == '新鲜蔬菜' ? 'selected' :'' %>>新鲜蔬菜</option>
          <option <%- item && item.cat == '方便素食' ? 'selected' :'' %>>方便素食</option>
          <option <%- item && item.cat == '粮油杂货' ? 'selected' :'' %>>粮油杂货</option>
        </select>
      </div>
      <div class="form-group">
        <label for="desc">简介</label>
        <textarea class="form-control" id="desc" placeholder="简介" name="desc"><%- item && item.desc %></textarea>
      </div>
      <div class="form-group">
        <% if(item && item._id) { %>
            <img class="snap-shot" src="<%- item && item.picUrl%>" alt="">
        <% } else { %>
            <input type="file" name="file" id="id-input-file-2" required/>
        <% } %>
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="button" onclick="submitData()" class="btn btn-primary">创建</button>
    </div>
  </form>
</div>
<style>
    .snap-shot {
        width: 100px;
    }
</style>
<script>
  var submitData = function () {
    var data = new FormData($('#goodForm')[0]);
    var url = "<%- item && item._id ? '/admin/good/edit': '/admin/good/upload' %>";
    <% if(item && item._id) {%>
        data.append('id', '<%- item._id %>')
    <% }%>
    $.ajax(
      {
        type: "POST",
        dataType: "json",
        url,
        contentType: false,
        processData: false,
        data,
        success: function (result) {
          if (result.code == 200) {
            setTimeout(()=>{
              window.location.href = "/admin/good/"
            }, 1000)
          }else{
            alert(result.msg)
          }
        },
        error: function () {
          alert("异常！");
        }
      })
  }
</script>