<%- contentFor('body') %>

<table id="good" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>用户id</th>
            <th>用户名</th>
            <th>商品id</th>
            <th>商品名</th>
            <th>评论</th>
            <th>评分</th>
            <th>评论时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach(function(l){ %>
        <tr>
            <td><%- l.user && l.user._id %></td>
            <td><%- l.user && l.user.username %></td>
            <td><%- l.good && l.good._id %></td>
            <td><%- l.good && l.good.goodname %></td>
            <td><%- l.review %></td>
            <td><%- l.star %></td>
            <td><%- l.addTime %></td>
            <td>
                <a style="cursor:pointer" onclick="deleteItem('<%- l._id %>')">删除</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
<style>
    .snap-shot {
        width: 100px;
    }
</style>
<script>
    var deleteItem = function (id) {
        $.get('/admin/review/delete', {
            id,
        }, function (res) {
            if (res.code === 200) {
                alert('删除成功');
                window.location.reload();
            }
            console.log(res);
        })
    }
    $(function () {
        $('#good').DataTable()
    })
</script>